.pricing-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width:100%;    
    justify-content:flex-start;
}
.pricing-heading
{
    background:url(../assets/images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top:5rem;
    margin-bottom:5rem;
    padding:2rem;
    text-align: center;      
}
.pricing-heading>p
{
    margin-top: 0.5rem;
    font-size: small;
    color:hsl(225, 20%, 60%);
}
.pricing-inq-card
{
    border-radius:.5rem;
  
    display: flex;
    flex-direction: column;
    background-color: white;
    gap:2rem;
    padding:2.5rem;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    font-size: small;
    color:hsl(225, 20%, 60%);
}

.pricing-cost
{
    display: flex;
    justify-content:space-between;
    padding-bottom: 2rem;
    align-items: center;
    font-weight: 800;
}
.pricing-amt
{
    display:flex;   
    align-items: center;
    gap:.5rem;
}
.slider
{
    appearance: none;
    width: 100%;
    height: .5rem;
    background: #d3d3d3;
    border-radius: 20px; 

}

.slider::-webkit-slider-thumb
{
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #46ef9d;
  cursor: pointer;
  background-image: url('../assets/images/icon-slider.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.2s;
}

.slider::-webkit-slider-thumb:hover 
{
    opacity: 1;
    box-shadow: 0 20px 20px 2px #8cf5c2;
}

.pricing-amt>span
{
    font-size: xx-large;
    font-weight: 800;
    color:hsl(227, 35%, 25%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.1rem;
  height: 1.1rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.toggle:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  bottom:0.02rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .toggle {
  background-color: #46ef9d;
}
input:focus + .toggle {
  box-shadow: 0 0 1px #46ef9d;
}

input:checked + .toggle:before {
  transform: translateX(1.1rem);
}

.toggle.round {
  border-radius: 5rem;
}

.toggle.round:before {
  border-radius: 50%;
}

.pricing-freq
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pricing-freq>span
{
    border-radius: 2rem;
    background-color: hsl(14, 92%, 95%);
    color:hsl(15, 100%, 70%);
    padding-left:.5rem;
    padding-right:.5rem;
}
.pricing-inq-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:hsl(225, 20%, 60%);
    font-size: small;
    column-gap: 5rem;
}
.pricing-inq-chk
{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
button
{
    border-radius: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-left:2rem;
    height: 3rem;
    font-family: 'Manrope';
    background-color:hsl(227, 35%, 25%);
    color:hsl(225, 20%, 60%);
    
}