.pricing-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width:100%;    
    justify-content:flex-start;
}
.pricing-heading
{
    background:url(../assets/images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top:5rem;
    margin-bottom:5rem;
    padding:2rem 0 2rem 0;
    text-align: center;   
    min-width: 375px;   
}
.pricing-heading>p
{
    margin-top: 0.5rem;
    font-size: small;
    color:hsl(225, 20%, 60%);
}

.pricing-subhead{
  display: flex;
  gap:0.2rem;
  color: hsl(225, 20%, 60%);
  font-size: small;
  margin-top: .75rem;
  justify-content: center;
}
.pricing-inq-card
{
    border-radius:.5rem;  
    display: flex;
    flex-direction: column;
    background-color: white;
    gap:2rem;
    padding:2.5rem;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    font-size: small;
    color:hsl(225, 20%, 60%);
    min-width: 370px;
}
.pricing-inq-chkf
{
  display: flex;
  gap:1rem;
}
.pricing-inq-chkf>img
{
  width: .8rem;
}
.pricing-cost
{
    display: flex;
    justify-content:space-between;
    padding-bottom: 2rem;
    align-items: center;
    font-weight: 800;
}
.pricing-amt
{
    display:flex;   
    align-items: center;
    gap:.5rem;
}
.slider [type="range"]
{
  width: 100%;
  -webkit-appearance: none;    
  height: .5rem;
  border-radius: 1.5rem; 
  background: hsl(224, 65%, 95%);       
  outline: none;
  padding: 0;
  margin:0;
}

.slider [type="range"]::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: hsl(174, 86%, 45%);
  cursor: pointer;
  background-image: url('../assets/images/icon-slider.svg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

.slider [type="range"]::-webkit-slider-thumb:hover 
{
    opacity: 1;
    box-shadow: 0 20px 20px 2px hsl(174, 86%, 45%);
}
.pricing-amt>span
{
    font-size: xx-large;
    font-weight: 800;
    color:hsl(227, 35%, 25%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.1rem;
  height: 1.1rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(223, 50%, 87%);
  -webkit-transition: .4s;
  transition: .4s;
}
.toggle:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  bottom:0.02rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .toggle {
  background-color: hsl(174, 86%, 45%);
}
input:focus + .toggle {
  box-shadow: 0 0 1px hsl(174, 86%, 45%);
}

input:checked + .toggle:before {
  transform: translateX(1.1rem);
}

.toggle.round {
  border-radius: 5rem;
}

.toggle.round:before {
  border-radius: 50%;
}

.pricing-freq
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pricing-freq>span
{
    border-radius: 2rem;
    background-color: hsl(14, 92%, 95%);
    color:hsl(15, 100%, 70%);
    padding-left:.5rem;
    padding-right:.5rem;
}
.pricing-inq-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:hsl(225, 20%, 60%);
    font-size: small;
    gap: 5rem;
}
.pricing-inq-chk
{
    display: flex;
    flex-direction: column;
   
    gap:.5rem
}

button
{
    border-radius: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-left:2rem;
    height: 3rem;
    font-family: 'Manrope';
    background-color:hsl(227, 35%, 25%);
    color:hsl(226, 100%, 87%)
    
}

.disc-short
{
  display: none;
}
.pricing-amt-2
{
  display: none;
}

@media (max-width:600px)
{
  .pricing-subhead{
    flex-direction: column;
  }

.pricing-inq-footer
{
  flex-direction: column;
  align-items: center;  
  gap:2rem;
}

button{
  margin:0;
}

.pricing-inq-chk
{
  align-items:center;
}

.pricing-amt
{
    display:none;   
}

.pricing-amt-2
{
    padding-top:2rem;
    display:flex;   
    justify-content: center;
    align-items: center;
    gap:.5rem;
}
.pricing-inq-card
{
  padding:1.5rem;
}

.pricing-amt-2>span
{
    font-size: xx-large;
    font-weight: 800;
    color:hsl(227, 35%, 25%);
}

.pricing-cost
{
  flex-direction: column;
  align-items: center;
}

.disc-long
{
  display: none;
}
.disc-short
{
  display: block;
}

}